*{
  margin: 0;
  padding: 0;
}
.hero{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #282c34;
}
/* .hero::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("Login-Background-Image.jpg");
  background-position: top center;
  background-size: cover;
  opacity: .80; 
}*/
.form-box{
  opacity: 100%;
  width: 380px;
  height: 480px;
  position: relative;
  background-color: white;
  margin: 6% auto;
  padding: 5px;
  overflow:hidden;
  border-radius: 20px;
}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #b9755a1f;
  border-radius: 30px;
}    
  
.toggle-btn{
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  padding: 10px 33px 10px 32px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: .5s;
}

.input-group{
  top: 180px;
  position: center;
  width: 50%;
  transition: .5s;
}

  .input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5% 50%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
} 

.check-box{
  margin:30px 10px 0px 25%;
}

.submit-btn{
  width: 75%;
  margin: 20% 65%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline:none;
  border-radius: 30px;
}

span{
  color: #777;
  font-size: 12px;
  position: relative;
}

#login{
  left: 50px;
}

#signup{
  left: 450px;
}
